* {
margin: 0;
padding: 0;
list-style: none;
font-family: '微軟正黑體';
box-sizing: border-box;
transition: 0.5s
}

#css-zen-garden{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-wrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
}

#page-wrapper::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background-image: url(https://file02.16sucai.com/d/file/2014/0830/64c7c33e2a5328ef4aa1eab6baffe8ff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    box-shadow: -1px -1px 3px #fff;
    border: 5px solid silver;
}

#zen-intro{
    width: 40%;
}

#banner {
    position: fixed;
    top: 0%;
    left: 11%;
    height: 100%;
    width: 50%;
    display: block;
    transform: rotate(-15deg);
    background-image: url(../images/book.svg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    text-align: center;
    color: goldenrod;
    z-index: -2;
    padding: 8rem 9rem 0 0;
    line-height: 6rem;
    filter: drop-shadow(15px 5px 10px black);
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
    font-size: 3.5rem;
}

#banner h1{
font-family: 'Tangerine', cursive;
}

#banner h2{
font-family: 'Tangerine', cursive;
}

#banner h2 abbr {
font-family: 'Tangerine', cursive;
    text-decoration: none;
}

abbr::before{
    content: "";
    display: block;
}

#zen-summary{
    padding: 2rem 2rem 0 2rem;
}

#zen-summary p{
    margin: 1rem 0 0 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#zen-summary p a{
    color:red;
    text-decoration: underline dashed orange;
    font-family: serif;
}

#zen-summary p:first-child{
    font-family: 'Rye', cursive;
    font-size: 2.4rem;
    text-align: center;
}

#zen-summary p:first-child abbr{
    font-family: 'Rye', cursive;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

#zen-preamble{
    padding: 0 2rem;
    text-align: center;
}

#zen-preamble h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 1rem 0;
}

#zen-preamble p{
    text-align: justify;
}

#zen-preamble abbr{
    display: inline-block;
}

#zen-preamble h3::before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: "I .";
    display: inline-block;
}

#zen-supporting{
    padding: 0 2rem 2rem 2rem;
    width: 40%;
    text-align: center;
}

#zen-supporting h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 1rem 0;
}

#zen-supporting abbr{
    display: inline-block;
}

#zen-supporting #zen-explanation h3::before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: "II .";
    display: inline-block;
}

#zen-supporting #zen-participation h3::before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: "III .";
    display: inline-block;
}

#zen-supporting #zen-benefits h3::before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: "IV .";
    display: inline-block;
}

#zen-supporting #zen-requirements h3::before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: "V .";
    display: inline-block;
}

#footer{
    position: fixed;
    top: 20%;
    right: 0;
    background-color: rgb(255,255,0);
}

#sidebar{
    background-color: rgba(0,0,255);
    position: fixed;
    bottom: 0;
    right: 5%;
}